<div class="card">
    <div class="card-header">
        <h2>Lista de Clientes</h2>
        <div class="card-body">


            <div class="row">
                <div class="col-2">
                    <a href="/Clientes/Cadastro" class="btn btn-success">Novo Cliente</a>

                </div>

                <div class="col-3">
                    <select name="tipoBusca" class="form-control">
                        <option value="0">Todos os campos</option>
                        <option value="id">Busca por id</option>
                        <option value="nome">Buscar por nome</option>
                        <option value="telefone">Busca por Telefone</option>
                    </select>
                </div>

                <div class="col-4">
                    <input class="form-control" type="text" name="Pesquisa"/>
                </div>

                <div class="col-3">
                    <button class="btn btn-info" type="submit"> Pesquisar

                    </button>

                </div>

            </div>






            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <td></td>
                    </tr>

                </thead>
                <tdoby>


                
                <tr>
                    <th>1</th>
                    <th>Fernando</th>
                    <th>(16) 99134 0447</th>
                    <td>
                        <a href="/Clientes/Editar/1" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Compras/1" class="btn btn-primary">Todas as compras</a>
                        <a href="/Clientes/Excluir/1" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>

                <tr>
                    <th>2</th>
                    <th>Joao</th>
                    <th>(16) 99134 1215</th>
                    <td>
                        <a href="/Clientes/Editar/2" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Compras/2" class="btn btn-primary">Todas as compras</a>
                        <a href="/Clientes/Excluir/2" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>

                <tr>
                    <th>3</th>
                    <th>Maria</th>
                    <th>(16) 99134 2556</th>
                    <td>
                        <a href="/Clientes/Editar/3" class="btn btn-warning">Editar</a>
                        <a href="/Clientes/Compras/3" class="btn btn-primary">Todas as compras</a>
                        <a href="/Clientes/Excluir/3" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>

                </tdoby>
            </table>

        </div>

    </div>
</div>