<div ckass="card">
    <div class="card-header">
        Tabela do sistema
    </div>

    <div ckass="card-body">
        <ol calss="list-group">

            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>

        </ol>
    </div>
</div>